
@{
    ViewData["Title"] = "Task_1";
}

<div class="text-left">
    <p>Name: Pavel_Dyachuk</p>
    <p>Date: @Model.dateTime</p>
    <p>Environment: @Model.appEnvironment</p>
    <p>Application: @Model.appName</p>
    <p>Host and port: @Model.appHost</p>
    <p>Protocol: @Model.appProtocol</p>
</div>

