@model Auto
@{
    ViewData["Title"] = "Car Search Result";
}

<div class="text-left">
    <p>ID: @Model.Id</p>
    <p>Brand: @Model.Brand</p>
    <p>Model: @Model.Model</p>
    <p>Year: @Model.Year</p>
    <p>Price: @Model.Price</p><br />
</div>
